* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #1e142c;
  font-family: "Euclid Circular A", "Poppins";
  color: #f9f8fa;
  overflow: hidden;
}

.login {
  background: rgba(166, 158, 174, 0.408);
  border: 1px solid #ffffff5b;
  backdrop-filter: blur(38px);
  box-shadow: 8px 40px 30px black;
  border-radius: 40px;
  padding: 72px 32px 58px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-face-smile {
  font-size: 89px;
  margin: 0 0 32px;
}

.login h2 {
  font-size: 28px;
  margin: 0 0 6px;
}

.login h3 {
  color:  #dbd1e5;
  font-size: 13px;
  margin: 0 0 56px;
}

.form {
  display: grid;
  gap: 12px;
  width: 100%;
  margin: 0 0 32px;
}

.login :is(input, button) {
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
  border: 0;
  border-radius: 8px;
}

.login .textbox {
  position: relative;
}

label,
input {
  transition: 0.3s;
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  transform-origin: 0 50%;
  pointer-events: none;
  color: #dbd1e586;

}

.textbox input {
  width: 100%;
  padding-top: 10px;
  background: #251930;
  outline: none;
  color: inherit;
  box-shadow: 0 0 0 2px transparent;
}

.textbox input:focus {
  box-shadow: 0 0 0 2px #dbd1e5;
}

.textbox input:is(:focus, :not(:invalid)) ~ label {
  scale: 0.725;
  translate: 0 -112%;
}

.login button {
  position: relative;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  font-size: 17px;
  background: var(--color-primary);
  cursor: pointer;
}

.login :is(button span, button p) {
  transition: 0.3s;
}

.login button span {
  position: absolute;
  top: 52%;
  left: 50%;
  translate: 10px -50%;
  opacity: 0;
  font-size: 22px;
}

.login button:hover p {
  translate: -10px 0;
}

.login button:hover span {
  opacity: 1;
  translate: 20px -50%;
}

.login a {
  cursor: pointer;
}

.login a:hover {
  text-decoration: underline;
}

.forgot-password {
  font-size: 13px;
  margin: -20px 0;
}

.login > p {
  margin: 56px 0 0;
  font-size: 15px;
}

.footer {
  font-size: 16px;
  padding-top: 20px;
}